//
// @file /method-02/_emojis.scss
//


@font-face {
	font-family: 'Emojis';
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	src: local('Apple Color Emoji'),
		local('Segoe UI Emoji'),
		local('Segoe UI Symbol'),
		local('Noto Color Emoji');
}

