//
// @file /method-03/_mono.scs
//

//
// If you don't declare 'Menlo', you get Courier
// If you don't declare 'Consolas', you get Courier New in Firefox
//
// In theory, 'monospace' should render  
// the Android, Chrome OS, and Linux fonts without `local`s. 
//
// This is because of how common families like 'Courier' and 'monospace'
// are mapped back to the system fonts.  
//
// On Android, if you want a serif-mono, you must declare Cutive Mono
//


@font-face {
	font-family: 'Mono 400';
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	src: local('Menlo'), // macOS, iOS
		local('Consolas'), // Widows Vista+, Widnows Phone
		// local('Droid Sans Mono'), local('DroidSansMono'), // Android 
		// local('Cutive'), local('Cutive Mono'), local('Cutive-Regular'), local(CutiveMono), // Android
		// local('Cousine'), // Chrome OS 
		// local('DejaVu Sans Mono'), // Linux 
		// local('FreeMono'), // Linux 	
		local(monospace); // Android, Chrome OS, Linux
}

@font-face {
	font-family: 'Mono 400i';
	font-style: italic;
	font-weight: 400;
	font-stretch: normal;
	src: local('Menlo Italic'), 
		local('Consolas Italic'), 
		// Droid Sans Mono - no 400i - falls back to 400
		// Cutive Mono - no 400i - falls back to 400
		// local('Cousine Italic'), local('Cousine-Italic'),
		// local('DejaVu Sans Mono Oblique'), local('DejaVuSansMono-Oblique'),
		// local('FreeMono Oblique'), local('FreeMonoOblique'),
		local(monospace); 
}

@font-face {
	font-family: 'Mono 700';
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	src: local('Menlo Bold'), // macOS, iOS
		local('Consolas Bold'), // Widows Vista+, Widnows Phone
		// Droid Sans Mono - no 700 - falls back to 400
		// Cutive Mono - no 700 - falls back to 400
		// local('Cousine Bold'), local('Cousine-Bold'),
		// local('DejaVu Sans Mono Bold'), local('DejaVuSansMono-Bold'),
		// local('FreeMono Bold'), local('FreeMonoBold'),
		local(monospace); 
}

@font-face {
	font-family: 'Mono 700i';
	font-style: italic;
	font-weight: 700;
	font-stretch: normal;
	src: local('Menlo Bold Italic'), // macOS, iOS
		local('Consolas Bold Italic'), // Widows Vista+, Widnows Phone
		// Droid Sans Mono - no 700 - falls back to 400
		// Cutive Mono - no 700 - falls back to 400
		// local('Cousine Bold Italic'), local('Cousine-BoldItalic'),
		// local('DejaVu Sans Mono Bold Oblique'), local('DejaVuSansMono-BoldOblique'),
		// local('FreeMono Bold Oblique'), local('FreeMonoBoldOblique '),
		local(monospace); 
}

